.color-switch{
    width: 25px;
    position: fixed;
    top: 100px;
    left: 30px;
    z-index: 20000;
}
.switches{
    border: 2px solid rgb(255, 255, 255);
    flex: 0 0 100%;
    padding-top: 21px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
#c-switch-1{
    background-color: #4abdac;
}
#c-switch-2{
    background-color: #479761;
}
#c-switch-3{
    background-color: #4d6d9a;
}
#c-switch-4{
    background-color: #05386b;
}