#contact{
    h5{
        color: var(--text-color);
        font-weight: 600;
    }
    input{
        width: 100%;
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
        appearance: none;
        border-color: transparent;

    }
}
.social-link{
    list-style-type: none;
    li{
        display: inline-block;
        margin: 2px;
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--text-color);
            color: var(--bg-color);
            font-size: 1.1rem;
            &:hover{
                background-color: var(--sub-color2);
                color: var(--text-color);
            }
        }
    }
}
.sub-menus{
    list-style-type: none;
    li{
        display: inline-block;
        margin: 2px;
        a{
            text-decoration: none;
            font-size: 1.1rem;
            color: var(--text-color);
            padding: 2px 4px;
            font-weight: 600;
            &:hover{
                color: var(--sub-color2);
            }
        }
    }
}