@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    --bg-color: #4abdac;
    --text-color: #FFF;
    --sub-color1: #fc4a1a;
    --sub-color2: #f7b733;
    --sub-color3: #dfdce3;



    --primary-color: #fbe8a6;
    --secondary-color1: #f4976c;
    --secondary-color2: #303c6c;
    --secondary-color3: #b4dfe5;
    --secondary-color4: #d2fdff;
}
html[data-color="set-1"]{
    --bg-color: #4abdac;
    --text-color: #FFF;
    --sub-color1: #fc4a1a;
    --sub-color2: #f7b733;
    --sub-color3: #dfdce3;

    --primary-color: #fbe8a6;
    --secondary-color1: #f4976c;
    --secondary-color2: #303c6c;
    --secondary-color3: #b4dfe5;
    --secondary-color4: #d2fdff;
}
html[data-color="set-2"]{
    --primary-color: #19181a;
    --secondary-color1: #479761;
    --secondary-color2: #cebc81;
    --secondary-color3: #a16e83;
    --secondary-color4: #b19f9e;
}
html[data-color="set-3"]{
    --primary-color: #5f6366;
    --secondary-color1: #4d6d9a;
    --secondary-color2: #86b3d1;
    --secondary-color3: #99ced3;
    --secondary-color4: #edb5bf;
}
html[data-color="set-4"]{
    --primary-color: #5cdb95;
    --secondary-color1: #05386b;
    --secondary-color2: #379683;
    --secondary-color3: #8ee4af;
    --secondary-color4: #edf5e1;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
body{
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h1{
    color: var(--text-color);
}
h2{
    color: var(--sub-color1);
}
h3{
    color: var(--sub-color2);
}
h4{
    color: var(--sub-color3); 
}
