@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  --bg-color: #4abdac;
  --text-color: #FFF;
  --sub-color1: #fc4a1a;
  --sub-color2: #f7b733;
  --sub-color3: #dfdce3;
  --primary-color: #fbe8a6;
  --secondary-color1: #f4976c;
  --secondary-color2: #303c6c;
  --secondary-color3: #b4dfe5;
  --secondary-color4: #d2fdff;
}

html[data-color="set-1"] {
  --bg-color: #4abdac;
  --text-color: #FFF;
  --sub-color1: #fc4a1a;
  --sub-color2: #f7b733;
  --sub-color3: #dfdce3;
  --primary-color: #fbe8a6;
  --secondary-color1: #f4976c;
  --secondary-color2: #303c6c;
  --secondary-color3: #b4dfe5;
  --secondary-color4: #d2fdff;
}

html[data-color="set-2"] {
  --primary-color: #19181a;
  --secondary-color1: #479761;
  --secondary-color2: #cebc81;
  --secondary-color3: #a16e83;
  --secondary-color4: #b19f9e;
}

html[data-color="set-3"] {
  --primary-color: #5f6366;
  --secondary-color1: #4d6d9a;
  --secondary-color2: #86b3d1;
  --secondary-color3: #99ced3;
  --secondary-color4: #edb5bf;
}

html[data-color="set-4"] {
  --primary-color: #5cdb95;
  --secondary-color1: #05386b;
  --secondary-color2: #379683;
  --secondary-color3: #8ee4af;
  --secondary-color4: #edf5e1;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--text-color);
}

h2 {
  color: var(--sub-color1);
}

h3 {
  color: var(--sub-color2);
}

h4 {
  color: var(--sub-color3);
}

.color-switch {
  width: 25px;
  position: fixed;
  top: 100px;
  left: 30px;
  z-index: 20000;
}

.switches {
  border: 2px solid white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-top: 21px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#c-switch-1 {
  background-color: #4abdac;
}

#c-switch-2 {
  background-color: #479761;
}

#c-switch-3 {
  background-color: #4d6d9a;
}

#c-switch-4 {
  background-color: #05386b;
}

.cover-frame {
  height: 100vh;
  position: relative;
}

.video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  opacity: 0.15;
}

.head-box {
  z-index: 20;
  text-align: center;
}

.head-box > h1 {
  font-weight: 600;
  text-shadow: -1px 0px 3px var(--sub-color1);
  font-size: 3rem;
}

.head-score {
  margin: 10px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--sub-color1);
}

.dis-none {
  display: none;
}

.dis-initial {
  display: initial;
}

.my-btn {
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: .2rem .5rem;
  color: var(--text-color);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  margin: .3rem .4rem;
}

.my-btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.my-btn1 {
  font-size: 1.1rem;
  font-weight: 600;
}

.my-btn2 {
  font-size: 1.1rem;
  font-weight: 700;
}

.my-btn-bg {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1.5px solid var(--bg-color);
}

.my-btn-sub1 {
  background-color: var(--sub-color1);
}

.my-btn-sub2 {
  background-color: var(--sub-color2);
}

.my-btn-sub3 {
  color: var(--sub-color1);
  background-color: var(--sub-color3);
  border: 1.5px solid var(--sub-color1);
}
/*# sourceMappingURL=mystyle.css.map */